@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #EEEEEE;
  --background-end-rgb: #EEEEEE;
  --background: #EEEEEE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #333333;
    --background-end-rgb: #333333;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-end-rgb);
}
